.product-image {
  width: 100px;
  height: 100px;
}
.product-card {
  display: flex;
}
.productslisttt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  font-size: 15px;
}
