.bestseller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
}
.product-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  transition: 0.5s ease-in-out;
}
.product-cards:hover {
  transform: scale(1.1);
  color: #40bfff;
}
.product-cards:hover .product-name {
  color: #40bfff;
}
.bestseller-header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  margin: 20px 0;
}
.products-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  font-size: 15px;
}
.product_price {
  color: #40bfff;
  font-weight: 700;
}
.product-name {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.product-card-link {
  text-decoration: none;
}
.selectedCategory {
  background-color: black;
}
.mobile-toggle-button {
  display: none;
}
.category-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.category-button {
  background: none;
  color: black;
  border: none;
  padding: 0;
  margin-right: 20px;
  width: fit-content;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 50px;
  cursor: pointer;
}
.category-button:hover {
  background: none;
  color: #40bfff;
}
.active {
  text-decoration: underline #40bfff;
  color: #40bfff;
}
.product--image {
  width: 80%;
  height: 60%;
  object-fit: contain;
}
.img {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.product_info {
  height: 20%;
}
.load-more-button {
  background: none;
  font-weight: 600;
  color: #40bfff;
  border: none;
  padding: 20px 0;
  border-radius: 0;
  width: 100%;
  text-transform: uppercase;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 50px;
}
.load-more-button:hover {
  background: none;
  text-decoration: underline;
}
.slick-dots {
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 150px;
}

@media only screen and (max-width: 767px) {
  .slick-dots {
    position: relative;
    margin: 10px 0;
    width: 95vw;
    padding: 10px;
    border-top: 0.5px solid rgb(124, 121, 121);
    border-bottom: 0.5px solid rgb(124, 121, 121);
  }
  .slick-slider .slick-dots li.slick-active button::before {
    color: #40bfff;
  }
  .products-div {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 50px;
    column-gap: 10px;
  }
  .bestseller-container {
    padding: 0 10px;
  }
  .product-cards {
    height: 200px;
  }
  .product_info {
    font-size: 12px;
  }
}
@media only screen and (max-width: 520px) {
  .category-button-div {
    display: flex;
    flex-direction: column;
    height: 0;
    opacity: 0;
    overflow: hidden;
    flex-wrap: wrap;
    margin-top: -30px;
  }
  .category-button {
    margin-bottom: 15px;
  }
  .category-button-div.show {
    height: 250px;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 1;
  }
  .category-button-div.hide {
    height: 0;
    opacity: 0;
    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .mobile-toggle-button {
    display: block;
    border: none;
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    margin-bottom: 50px;
  }
  /* CSS Animation Keyframes for Slide-In */
  @keyframes slideIn {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 250px;
      opacity: 1;
    }
  }

  /* CSS Animation Keyframes for Slide-Out */
  @keyframes slideOut {
    0% {
      height: 250px;
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
}
@media only screen and (max-width: 329px) {
  .products-div {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    row-gap: 50px;
    column-gap: 10px;
  }
}
