.quantity-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
.quantity-container button {
  border: none;
  padding: 10px;
  margin: 0 10px;
  background: none;
  color: black;
}
.quantity-container button:hover {
  background: none;
  color: #33a0ff;
}
