.parent {
  background-color: rgba(238, 238, 238, 255);
  min-height: 100vh;
}
.cartpage {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
.cart {
  width: 70vw;
  background-color: white;
  position: relative;
}
.header {
  padding: 10px 25px;
}
.empty-cart-container {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.emptycartbtn {
  margin-top: 20px;
  width: 150px;
  padding: 10px 0;
  cursor: pointer;
  background-color: green;
  color: white;
  border: none;
}
.emptycartbtn:hover {
  background-color: rgb(5, 94, 5);
}
.closee {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(238, 238, 238, 255);
}
.cart-item-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px auto;
  border: 1px black solid;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgb(233, 230, 230);
  color: black;
  width: 95%;
  padding: 10px;
}
.link {
  text-decoration: none;
}
.sub-text {
  width: 100%;
}
.sub-text-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.quantity {
  display: flex;
  align-items: center;
}
.cart-item-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.cart-item-text {
  color: #403f3f;
  /* max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.list {
  list-style-type: none;
}
.checkout {
  position: sticky;
  top: 70px;
  background-color: white;
  width: 25vw;
  height: fit-content;
}
.checkout h4 {
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid #403f3f;
}
.checkout div {
  padding: 10px;
  border-bottom: 1px solid #403f3f;
  display: flex;
  justify-content: space-between;
}
.checkout div p {
  text-transform: capitalize;
  font-weight: 500;
}
.checkout-btn {
  width: 95%;
  margin: 10px;
  padding: 15px 15px;
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.checkout-btn:hover {
  background-color: rgb(5, 94, 5);
}
.checkout-btn span {
  display: flex;
  align-items: center;
}
.icon {
  cursor: pointer;
}
.mobile-checkout {
  display: none;
}
@media only screen and (max-width: 767px) {
  .cartpage {
    flex-direction: column;
  }
  .cart {
    width: 100vw;
    margin: auto;
  }
  .checkout {
    width: 100vw;
    margin: auto;
    /* position: fixed; */
    bottom: 0px;
  }
  .checkout h4,
  .checkout div {
    display: none;
  }
  .mobile-checkout {
    display: block;
  }
  .mobile-checkout h4 {
    padding: 10px;
  }
  .mobile-checkout div {
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    background-color: white;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  .header {
    display: none;
  }
}
