body {
  background-color: rgba(238, 238, 238, 255);
}
.product-card {
  height: 400px;
  width: 100%;
}
.product-card2 {
  height: 400px;
  width: 100%;
}
.productslisttt,
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-size: 15px;
}
.product__name {
  font-size: 12px;
}
.imgs {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.product__info {
  height: 20%;
  margin-top: 10px;
  width: 100%;
}
.product-image {
  width: 50%;
  height: 70%;
  object-fit: contain;
}
.product__price {
  color: #40bfff;
  font-size: 12px;
  font-weight: 500;
}
.product__name {
  color: black;
}
@media only screen and (max-width: 767px) {
  .productslisttt,
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 520px) {
  .product-card,
  .product-card2 {
    height: 300px;
  }
  .imgs {
    height: 60%;
  }
}
@media only screen and (max-width: 350px) {
  .product-card,
  .product-card2 {
    height: 250px;
  }
  .product__name {
    font-size: 10px;
  }
  .product__price {
    font-size: 10px;
  }
}
