.shop {
  padding: 20px;
}
.searchh {
  margin: 70px 0 40px 0;
  padding: 20px;
  width: 40%;
  border-radius: 5px;
}
.grid-template {
  display: flex;
}
.left-grid ul li {
  display: flex;
  flex-direction: column;
}
.left-grid {
  width: 20%;
  position: sticky;
  top: 80px;
  height: fit-content;
}
.left-grid h5 {
  padding: 0 0 20px 0;
}
.right-grid {
  width: 80%;
}
.categories-button {
  background: none;
  color: black;
  width: 150px;
}
.categories-button:hover {
  background-color: #40bfff;
}
.active {
  background-color: #40bfff;
  text-decoration: none;
}
.filter-btn {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .searchh {
    width: 60%;
  }
}
@media only screen and (max-width: 1004px) {
  .grid-template {
    flex-direction: column;
  }
  .right-grid {
    width: 100%;
  }
  .left-grid {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    top: 0;
  }
  .left-grid ul li {
    flex-direction: row;
  }
}
@media only screen and (max-width: 767px) {
  .searchh {
    width: 70%;
  }
  .left-grid ul li {
    flex-direction: column;
  }
  .hide-categories {
    height: 0;
    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  .show-categories {
    height: fit-content;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 1;
  }
  .left-grid {
    width: fit-content;
  }
  /* CSS Animation Keyframes for Slide-In */
  @keyframes slideIn {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 250px;
      opacity: 1;
    }
  }

  /* CSS Animation Keyframes for Slide-Out */
  @keyframes slideOut {
    0% {
      height: 250px;
      opacity: 1;
    }
    100% {
      height: 0;
      opacity: 0;
    }
  }
}
@media only screen and (max-width: 520px) {
  .searchh {
    width: 100%;
    padding: 15px;
  }
}
