.backbtn {
  width: 150px;
  padding: 10px;
  margin-top: 80px;
  cursor: pointer;
  border: none;
  background-color: black;
}
.backbtn:hover {
  background-color: rgb(72, 71, 71);
  border: none;
}
