.bestseller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px 50px;
}
.product-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 300px;
  transition: 0.5s ease-in-out;
}
.product-cards:hover {
  transform: scale(1.1);
  color: #40bfff;
}
.product-cards:hover .product-name {
  color: #40bfff;
}
.bestseller-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.bestseller-header {
  width: 100%;
  text-transform: capitalize;
  font-size: 24px;
}
.thismonth-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.thismonth-design {
  background-color: #40bfff;
  width: 10px;
  height: 25px;
  border-radius: 3px;
}
.thismonth-text {
  text-transform: capitalize;
  font-size: small;
  font-weight: 600;
  color: #40bfff;
}
.products-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  font-size: 15px;
}
.product_price {
  color: #40bfff;
  font-weight: 700;
}
.product-name {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
.product-card-link {
  text-decoration: none;
}
.product--image {
  width: 80%;
  height: 60%;
  object-fit: contain;
}
.img {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.product_info {
  height: 20%;
}
.load-more-button {
  background-color: #40bfff;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 0;
  text-transform: capitalize;
}
.load-more-button:hover {
  background-color: rgb(59, 58, 58);
}


@media only screen and (max-width: 767px) {
  .products-div {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    row-gap: 50px;
    column-gap: 10px;
  }
  .bestseller-container {
    padding: 0 10px;
  }
  .product-cards {
    height: 200px;
  }
  .product_info {
    font-size: 12px;
  }
}
@media only screen and (max-width: 520px) {
  .bestseller-header-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 329px) {
  .products-div {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    row-gap: 50px;
    column-gap: 10px;
  }
}
