.placeholder-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.placeholder-header {
  font-weight: 500;
}
.dummy {
  font-weight: 300;
  font-size: 14px;
}
.placeholder {
  width: 25%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon-container {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  .placeholder-container {
    padding: 50px 20px;
  }
  .placeholder {
    width: 30%;
  }
}
@media only screen and (max-width: 520px) {
  .placeholder-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  .placeholder {
    width: 100%;
  }
}
