.slider {
  height: 100vh;
  background-color: white;
  width: 100vw;
  display: flex;
  padding: 0 20px;
}
.slider-product__image {
  height: 70%;
  max-height: 70%;
  width: 30%;
  border: none;
}
.product_card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.product__category {
  text-transform: capitalize;
  color: gray;
  font-weight: 600;
  text-decoration: underline;
  padding: 10px 0;
  width: fit-content;
}
.product__names {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  padding: 10px 0;
}
.slick-arrow.slick-next {
  position: absolute;
  right: 10px;
  visibility: hidden;
}

@media only screen and (max-width: 1024px) and (min-height: 800px) {
  .slider {
    height: 40vh;
    margin-top: 20px;
  }
  .slider-product__image {
    width: 45%;
  }
}
@media only screen and (max-width: 767px) {
  .product_card {
    flex-direction: column;
  }
  .slider-product__image {
    width: 60%;
  }
  .slider {
    margin-top: 70px;
    height: 50vh;
  }
}
@media only screen and (max-width: 520px) {
  .slider-product__image {
    width: 60%;
    height: 50%;
  }
  .product_card {
    flex-direction: column;
  }
  .product__info {
    /* background-color: rgba(238, 238, 238, 255); */
    width: 100%;
  }
  .slider {
    height: 50vh;
  }
}
